body {
  margin: 0;
  padding: 20px 10px 30px;
  font-family: sans-serif;
}

.secondary-green {
  background-color: #0b8457;
}

.primary-green {
  color: #096c47;
}

.primary-gold {
  color: #eac100;
}

.secondary-gold {
  background-color: #f8f1d0;
}
